body,html {
  height: 100%;
}
ul.breadcrumb {
	padding-top: 20px;
	list-style: none;
	padding-left: 129px;
	background-color: #ffffff;
	width: 38vw;
}

ul.breadcrumb li a{
	color: rgb(182,182,182);
	font-weight: bold;
}

ul.breadcrumb li a:hover{
	color: rgb(105,105,105);
	text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 3px;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /*text-align: center;*/
}

.dropdown-content a {
    color: rgb(105,105,105);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	text-decoration: none;
	background-color: none;
	color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 10px;
}

.dropdown:hover #title{
	border-bottom: 5px solid rgb(255,98,0);
	padding-bottom: 0px;
}

/*Navigation bar 1 */
#navbar1{
	margin: 0px;
	background-color: rgb(255,98,0);
	height: 12px;
}

#signLog a:hover {
	color: black;
}

#call{
	list-style-type: none;
	font-family: "Verdana",  sans-serif;
	font-style: normal;
	font-variant:normal;
	font-size: 13px;
	font-weight: bold;
	padding-left: 100px;
}

#call li{
	display: inline;
}

#text{
	font-family: "Verdana",  sans-serif;
	font-style: normal;
	font-variant:normal;
	font-size: 13px;
	font-weight: bold;
	color: rgb(196,58,0);
}

#number{
	color: white;
	font-family: "Verdana",  sans-serif;
	font-style: normal;
	font-variant:normal;
	font-size: 13px;
	font-weight: bold;
}

#acces{
	font-family: "Verdana",  sans-serif;
	font-style: normal;
	font-variant:normal;
	font-size: 13px;
	font-weight: bold;
	padding-right: 143px;
}

#login a{
	color: rgb(196,58,0);
}

#signup a{
	color: white;
}

/*Navigation bar 2 */
#navbar2{
	padding: 20px 50px;
}

#meniu{
	font-family: "Verdana",  sans-serif;
	font-style: normal;
	font-variant:normal;
	font-size: 13px;
	font-weight: bold;
	padding-right: 92px;
}

#textlogo{
	padding-left: 65px;
}

#logo li {
	margin: 0px;
	display: inline;
	font-family: "Verdana",  sans-serif;
	font-style: normal;
	font-variant:normal;
	font-size: 13px;
	font-weight: bold;
}

#logo a:hover{
	text-decoration: none;
	color: black;
}

#a1{
	color: rgb(49,49,49);
}

#a2{
	color: rgb(255,118,32);
}
/**/
.container{
	padding: 0px 20px 20px;
	position: relative;
	
}
.container p{
	font-size: 20px;
	font-family: "Times New Roman", serif;
}

#infotext{
	width: 78vw;
	margin:0px 25px; 
}
#infotext h1{
	font-weight: bold;
	color: rgb(255,118,32); 
}
#infotext p{
	color: rgb(209,209,209);
}

/*CONTACT US*/
#message{
	height: 150px;
	resize: vertical;
	min-height: 150px;
}

#contact,#reach{
	width: 38vw;
	margin: 25px;
}

#forms form{ 
	margin-top: 8px;
}

#button{
	color: white;
	font-family: "Verdana",  sans-serif;
	font-style: normal;
	font-variant:normal;
	font-size: 13px;
	font-weight: bold;
	background-color: rgb(255,98,0);
	width: 105px;
	height: 40px;
	margin-top: 8px;
}

/*REACH US*/
#icons a{
	padding: 1px;
	display: inline;
	font-size: 33px;
	margin-bottom: 10px;
	align-items: left;
	color: rgb(209,209,209);

}

#icons a:hover {
	color: rgb(54,54,54);
}

#adress{
	list-style-type: none;
	margin: 0;
	padding: 0;
}	

#titleReach, #contactUs{
	font-family: "Verdana",  sans-serif;
	font-style: normal;
	font-variant:normal;
	font-size: 20px;
	font-weight: normal;
	border-bottom: 7px solid rgb(88,88,88);
	color: darkorange;
	text-transform: uppercase;
}

#l1,#l2,#l3,#l4,#l5{
	color: rgb(88,88,88);
	font-weight: bold;
}

#l1{
	line-height: 40px;
}
#l2,#l3{
	line-height: 20px;
	color: rgb(88,88,88);
}

#l4,#l5{
	line-height: 20px;
	color: rgb(88,88,88);
}
